@{
    ViewData["Title"] = "Home Page";
}
<div>
&nbsp;
&nbsp;&nbsp;
</div>
<img src="C:\Users\GOWSALYA\Documents\RetailBankingSystem\RetailBankingSystemClient\Assets\bannk.jpg" width="900" height="300" />



